@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";
@import "react-multi-carousel/lib/styles.css";
@import "react-toastify/dist/ReactToastify.css";
@import "react-datepicker/dist/react-datepicker.css";

/* ::-moz-selection {
  color: #ffffff;
  background: #aa530e;
}

::selection {
  color: #ffffff;
  background: #aa530e;
} */

@font-face {
  font-family: "Roboto-Bold";
  src: url("../src/Fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../src/Fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../src/Fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Black";
  src: url("../src/Fonts/Roboto-Black.ttf");
}

@font-face {
  font-family: "Roboto-Italic";
  src: url("../src/Fonts/Roboto-Italic.ttf");
}
.Toastify {
  position: absolute;
  z-index: 999999;
}
